::-webkit-scrollbar { 
    display: none; 
}

body{
    padding-top: 7.6em;
}

.brand{
    color: white !important;
    font-family: 'Montez', cursive;
    font-size: 4em;
}

.rating_r{
    color: #9cbca5;
}

.location-filter, .location-info{
    font-family: 'Raleway', sans-serif;
}

.location-filter{
    background-color: #fdd9ad;
    padding: 1em 0;
    font-size: .75em;
}

.location-info{
    font-size: 1em;
    margin: 1em 0;
    overflow-x: scroll; 
}

.location-info, .location-name, .location-address{
    padding-left: 0;
}

.location-name{
    font-size: 1.5em;
}

.location-address{
    font-style: italic;
}

.location-address p{
    margin-bottom: 0;
}

.location-contact{
    text-align: right;
}

.header{
    background-color: #EB5F00;
    box-shadow: 0 2px 5px grey;
}

#github-link:link, #github-link:visited, #github-link:active{
    color: white;
}

.location-contact a, #github-link:hover{
    color: #4f424b;
}

.map-container, .sidebar{
    height: 100%;
}
.map-container{
    padding: 0;
}

.sidebar{
    overflow-y: scroll;
}